<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="IONCHAIN 커뮤니티,커뮤니케이션,퀵 블록 사슬">
    <meta name="description" content="">
        <title>IONChain_커뮤니티</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/bitbug_favicon.ico">
    <meta content="" name="author">

	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="__baseURL#static/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="__baseURL#app/css/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="app/css/dest/styles.css?=2016121272249">
    <link rel="stylesheet" href="css/style.css">
     
	<style>
		@font-face {
			font-family: "lantingxihei";
			src: url("fonts/FZLTCXHJW.TTF");
		}
        .ioc_greens{
            display: none !important;
        }
        .icon_bar_while{
            background-color: #fff !important;
        }
    </style>
    <script type="text/javascript">
        var pageName = 'community'
    </script>
</head>

<body>
    <!--导航-->
    @@include('html-includes/header_KO.html')
    <div class="main_cont">
        <!--banner-->
        <div class="community-banner">
            <div class="container contan_flex">
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <div class="community-banner_text">
                        <img src="__baseURL#img/community/community-banner_KO.svg" alt="">
                        <!-- <div><span><img src="__baseURL#img/community/logo.png" alt=""></span><span>离子激励计划</span></div>
                        <div><b>5,000,000</b><span>IONC</span></div>
                        <div>等你来领取</div> -->
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <div class="vision_ban">
                        <img src="__baseURL#img/community/community_banner.png" alt="">
                    </div>
                </div>

            </div>
        </div>
        <!--内容-->
        <div class="line-and-lab">
            <div class="container">
                <div class="clearfix item-header">
                    <div class="items-title"><span></span><lable>커뮤니티</lable></div>
                    <div class="go_N">Go! IONCHAIN</div>
                    <div class="community_text">블록체인이 당신을 위해 무엇을 할 수 있는지 묻지 말고, 당신이 블록체인을 위해서 무엇을 할 수 있는지 질문하라.</div>
                </div>
                <div class="clearfix courses">
                    <div class="row">
                        <div class="col-md-6 col-ms-6 col-xs-12 p_l_r">
                            <div class="community_cont">
                                <div class="community_courses_img">
                                    <img src="img/community/understand_ioc.png" alt="">
                                </div>
                                <div class="m_r_30">
                                    <div class="community_text_o" >IONChain 이해</div>
                                    <div class="community_text f-14" >IONChain은 지속적으로 업그레이드 되는 양성적인 생태계 건설을 위해 노력하는 차세대 공유 블록 체인이다.</div>
                                    <div class="community_text_s community_text_sk" ><span>1 분만에 IONChain 이해하기</span><span>담당자와의 빠른 연결</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-ms-6 col-xs-12 p_l_r m_t_40">
                            <div class="community_cont">
                                <div class="community_courses_img">
                                    <img src="img/community/Novice_course.png" alt="">
                                </div>
                                <div class="m_r_30">
                                    <div class="community_text_o" >신참 교본</div>
                                    <div class="community_text f-14" >기대 바랍니다</div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="clearfix item-header m_t_70">
                    <div class="items-title"><span></span><lable>커뮤니티 교류</lable></div>
                    <div class="community_img">
                       <a href="https://twitter.com/IONChain" target="_blank"></a>
                       <a href="https://t.me/ionchain" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部-->
    @@include('html-includes/footer_KO.html')
    @@include('html-includes/footer-common-script.html')
</body>
</html>